.project {
    text-align: center;
    border: 2px solid #282c34;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
}

h2 {
    background-color: #5773a3;
    color: white;
}


img {
    max-width: 100%;
}