footer {
    background-color: #282c34;
    text-align: center;
    color: white;
    height: 50px;
}

footer a:link {
    text-decoration: none;
    color: white;
  }
  
  footer a:visited {
    text-decoration: none;
    color:#b3c2e2
  }
  
  footer a:hover {
    text-decoration: underline;
    color:#b3c2e2
  }
  
  footer a:active {
    text-decoration: underline;
  }